# IDEs
.idea
.zed

# Python tests
venv

# Go files for development / debugging.
go.work
go.work.sum
*.test

# Jupyter tmp files
.ipynb_checkpoints
Untitled.ipynb

# VSCode files
.Trash*
gomlx.code-workspace
