name: Tests(darwin)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"

      - name: Test with AutoInstall CPU PJRT plugin
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          go test ./internal/tests/ -test.run=TestEndToEnd/fixed -test.v -test.count=1

      - name: Install PJRT plugin
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          (cd ./cmd/pjrt_installer && go install .)
          export CPU_VERSION="$(sed -n 's/.*var DefaultCPUVersion = "\(.*\)".*/\1/p' ./internal/utils/utils.go)"
          sudo env GH_TOKEN=$GH_TOKEN $(go env GOPATH)/bin/pjrt_installer -plugin cpu -version "${CPU_VERSION}" -path /usr/local/lib/go-xla

      - name: Test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export LD_LIBRARY_PATH=/usr/local/lib
          go test ./pkg/...
          go test ./internal/tests/...
